.container{
    display: flex;
}

.circle { 
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}


/* Color Schemes */

/* Defaults */
:root {
    --color-scheme-background: white;
    --color-scheme-text-color: black;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --color-scheme-background: white;
        --color-scheme-text-color: black;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color-scheme-background: black;
        --color-scheme-text-color: white;
    }
}

/* Usage */
html {
    background: var(--color-scheme-background);
    color: var(--color-scheme-text-color);
}